@model ReportProblem
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Crear Reporte de Problema</h2>
            <hr />
        </div>
        <div asp-validation-summary="None"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" style="width: 500px;" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="PhoneNumber" class="p-0"></label>
            <input asp-for="PhoneNumber" class="form-control" style="width: 150px;" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="eMail" class="p-0"></label>
            <input asp-for="eMail" class="form-control" style="width: 500px;" />
            <span asp-validation-for="eMail" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="SystemStatus" class="p-0" />
            <select asp-for="SystemStatus" class="form-control" style="width: 300px;">
                <option value="Sistema NO funciona">Sistema NO Funciona</option>
                <option value="Sistema funciona pero genera errores">Sistema funciona pero genera errores</option>
                <option value="La impresora no trabaja">La impresora no trabaja</option>
                <option value="No se envian los correos de cierre">No se envian los correos de cierre</option>
            </select>
            <span asp-validation-for="SystemStatus" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <textarea asp-for="Description" class="form-control" rows="6"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-3 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Crear</button>
            </div>
            <div class="col-3 col-md-3">
                <a asp-controller="Help" asp-action="NewFeatureRequest_Index" class="btn btn-outline-secondary form-control border">Regresar</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}