@{
    ViewData["Title"] = "EasyPOS Inicio";
}
<style>
    .flex-center {
        display: flex;
        flex-direction: column; /* Arrange items in a column */
        justify-content: center; /* Center items vertically */
        align-items: center; /* Center items horizontally */
        height: 100vh; /* Full viewport height */
    }
</style>
<div class="flex-center">
    <h1 class="display-4">Bienvenido a EasyPOS</h1>
    <p>&copy; 2025 AIDAware Consultancies - Derechos Reservados.</p>
</div>