@{
    ViewData["Title"] = "EasyPOS Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a EasyPOS</h1>
    <p>Desarrollado y construido con <a href="https://learn.microsoft.com/aspnet/core">tecnología ASP.NET Core</a>.</p>
</div>
