@model Category
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Borrar Categoría</h2>
            <hr/>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Id" class="p-0"></label>
            <input asp-for="Id" class="form-control" readonly style="width:100px" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" readonly style="width:300px" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Status" class="p-0" />
            <input asp-for="Status" class="form-control" readonly style="width:150px"/>
        </div>
        <div class="row">
            <div class="col-3 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Borrar</button>
            </div>
            <div class="col-3 col-md-3">
                <a asp-controller="Categories" asp-action="Index" class="btn btn-outline-secondary form-control border">Regresar</a>
            </div>
        </div>
    </div>
</form>
